<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="text-align: center;">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> template. This template is built with <span style="color: red;">&hearts;</span> by <span
        style="color: blue;">
        <%= author %>
      </span>
  </p>
</body>

</html>